*.sch-bak
*.kicad_pcb-bak
Software/a.out
Software/lcd_test.o
Software/lcd_test.s
Software/lcd_test.s.lst
Software/planck.cfg
docs/_site
Software/forth/docs/py65mon-labelmap.txt
Software/forth/docs/py65mon-listing.txt
taliforth-py65mon.bin
tests/*.o
Software/tests/*.o
Software/tests/*.lst
*.o
Hardware/cpu_backplane/cpu_backplane-backups
Hardware/io_board/io_board-backups
Software/cos
Hardware/proto_board/planck_board-backups
Hardware/lcd_board/lcd_board-backups
Hardware/mainboard/mainboard-backups
Hardware/opl2_board/opl2_board-backups
fp-info-cache
fp-lib-table
Hardware/Fabrication
Hardware/cf_board/cf_board-backups
cf_board-2023-02-21_175402.zip
Hardware/proto_board/proto_board-backups
Hardware/ram_board/ram_board-backups
Emulator/wasm/dist
Emulator/wasm/node_modules
Hardware/flash_adapter/flash_adapter-backups
Hardware/template/planck_board-backups
Hardware/keyboard/keyboard-backups
Hardware/midi/planck_board-backups
Hardware/midi/midi-backups
Hardware/pico_vga/pico_vga-backups
~ram_board.kicad_pcb.lck
~ram_board.kicad_sch.lck
